.menu{
    background-color: rgb(121, 197, 213);
    height: 63px;
    padding-left: 18px;
    border-radius: 10px;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    z-index: 1000;
}
.botonHome{
    position: relative;
    top: -91px;
    left: 318px ;
    height: 39px;
    border: 2px solid;
    color: white;
    background-color: transparent;
    border: 1px solid black
}
.botonForm{
    position: relative;
    top: -36px;
    left: 450px ;
    height: 39px;
    border: 2px solid;
    color: white;
    background-color: transparent;
    border: 1px solid black
}
.botonSalir{
    position: relative;
    top: -146px;
    left: 590px ;
    height: 39px;
    border: 2px solid;
    color: white;
    background-color: transparent;
    border: 1px solid black
}
