.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row; 
  margin-top: 100px;
}
  
.FlexContainer div {
  width: 300px;
  height: 418px; 
  margin: 30px;
  margin-right:78px
}

.filtro{
  /* position:absolute; */
  z-index:1;
  top:10px;
  /* display:flex; */
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  right:1000px;     
}

.subtitulo{
  color: black;
  position: absolute;
  right: 90px;
}
.sub{
  position: absolute;
  color:black;
  left:-325px;
}
.subt{
  color: black;
  position: absolute;
  right: -65px;
}
.subti{
  position: absolute;
  color: black;
  left:-75px;
}
.p{
  position: relative;
  margin:300px
}
.hola{
  color: black;
}
.boton{
  background-color: transparent;
  border: 1px solid black;
  color:black;
  height: 35px;
}


.loader {
  width: 106px;
  height: 56px;
  display: block;
  margin: 30px auto;
  background-image: linear-gradient(#0c0c0c 50px, transparent 0), linear-gradient(#040404 50px, transparent 0), linear-gradient(#0c0c0c 50px, transparent 0), linear-gradient(#080808 50px, transparent 0), radial-gradient(circle 14px, #0b0b0b 100%, transparent 0);
  background-size: 48px 15px , 15px 35px, 15px 35px, 25px 15px, 28px 28px;
  background-position: 25px 5px, 58px 20px, 25px 17px, 2px 37px, 76px 0px;
  background-repeat: no-repeat;
  position: relative;
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.loader::after,
.loader::before {
  content: '';
  position: absolute;
  width: 56px;
  height: 56px;
  border: 6px solid #090909;
  border-radius: 50%;
  left: -45px;
  top: -10px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#070707 64px, transparent 0), linear-gradient(#080808 66px, transparent 0), radial-gradient(circle 4px, #0c0c0c 100%, transparent 0);
  background-size: 40px 1px , 1px 40px, 8px 8px;
  background-position: center center;
  box-sizing: border-box;
  animation: bike 0.3s linear infinite;
}

.loader::before {
  left: 25px;
  top: 60px;
}

@keyframes bike {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} 
