.paises{
    display: flex;
}


.img{
    transform: rotate(90deg);
    margin-left: 600px;
    z-index: 1;
    position: absolute;
    height: 700px;
    top:190px;
}

.image{
    transform: rotate(190deg);
    height: 900px;
    margin-left:150px;
    width:1250px;
    margin-top:70px
}

.boton{
    position: absolute;
    z-index:1;
    /* top: 780px; */
    top: 790px;
    right:1445px;
    transform: translate(-50%, -50%);
    background-color: rgb(220, 225, 225);
}
.ima{
    position: absolute;
    height: 340px;
    left:-100px;
    top:-90px
}
.im{
    position: absolute;
    height: 120px;
    left:380px;
    top:730px
}

.titulo{
    margin-top:350px;
    font-size: 70px;
    margin-left:-30px;
    font-family: 'Crimson Text', serif;
    color: rgb(7, 93, 126);
}
.explicacion{
    position: relative;
    margin-left:-30px;
    margin-top: -20px;
    font-size:30px;
    font-family:'Crimson Text', serif;
    color: black
}

@media(max-width:1285px){
    .paises{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .img{
        transform: rotate(90deg);
        margin-left: 10%;
        z-index: 1;
        position: absolute;
        height: 40vh;
        top: 10vh;
    }
    .image{ /*Nube paises */
        position: absolute;
        transform: rotate(190deg);
        height: 40vh;
        margin-left:-10%;
        width:50vh;
        margin-top:-63vh;
    }
    .boton{
        position: absolute;
        z-index:1;
        top: 81vh;
        right:29vh;
        transform: translate(-50%, -50%);
        background-color: rgb(220, 225, 225);
    }
    .ima{ /*Nube arriba esquina */
        position: absolute;
        height: 30vh;
        left:-15vh;
        top:-10vh;
    }
    .im{ /* nube boton */
        position: absolute;
        height: 15%;
        left:25vh;
        top:73vh
    }
    .titulo{
        /* position: absolute; */
        font-size: 3rem;
        margin-top: 10rem;
        /* left: 20vh; */
        /* top: 35vh; */
    }
    .explicacion{
        font-size: 2rem;
        max-width: 600px;
        
        margin: 0 auto;
    }
    
}
@media(max-width:895px){
    .paises{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .img{ /*imagen paises*/
        transform: rotate(90deg);
        margin-left: 10%;
        z-index: 1;
        position: absolute;
        height: 40vh;
        top: 10vh;
    }
    .image{ /*Nube paises */
        position: absolute;
        transform: rotate(190deg);
        height: 40vh;
        margin-left:-10%;
        width:50vh;
        margin-top:-63vh;
    }
    .boton{
        position: absolute;
        z-index:1;
        top: 81vh;
        right:29vh;
        transform: translate(-50%, -50%);
        background-color: rgb(220, 225, 225);
    }
    .ima{ /*Nube arriba esquina */
        position: absolute;
        height: 30vh;
        left:-15vh;
        top:-10vh;
    }
    .im{ /* nube boton */
        position: absolute;
        height: 15%;
        left:25vh;
        top:73vh
    }
    .titulo{
        /* position: absolute; */
        font-size: 3rem;
        margin-top: 10rem;
        /* left: 20vh; */
        /* top: 35vh; */
    }
    .explicacion{
        font-size: 2rem;
        max-width: 600px;
        
        margin: 0 auto;
    }
}
