.filtro{
    position:absolute;
    z-index:1;
    top:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    right:1150px;     
}

.subtitulo{
    color: black;
    position: absolute;
    right: 70px;
}
.sub{
    position: absolute;
    color:black;
    left:-340px;
}
.subt{
    color: black;
    position: absolute;
    right: -85px;
}
.subti{
    position: absolute;
    color: black;
    left:-70px;
}